@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px white;
  }

  .font-outline-6 {
    -webkit-text-stroke: 20px white;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../public/fonts/Inter/Inter-Thin.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../public/fonts/Inter/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../public/fonts/Inter/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../public/fonts/Inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../public/fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/fonts/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../public/fonts/Inter/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../public/fonts/Inter/Inter-Black.ttf");
}

@font-face {
  font-family: "Anton";
  src: url("../public/fonts/Anton/Anton-Regular.ttf");
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-anton {
  font-family: "Anton", sans-serif;
}

/* select {
  -webkit-appearance: none;
  appearance: none;
}

select {
  background-image: url("../public/caret.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 30px) center;
} */

select {
  border-right: 32px solid transparent
}
select.paddedBox {
  -webkit-appearance: textfield;
}

.MuiSvgIcon-root {
  @apply mr-[32px];
  background-image: url("../public/caret.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 30px) center;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}